<template>
    <div id="app">
        <div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    var data = {};

    export default {
        username: 'app',
        data() {
            return data
        },
        methods: {}
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-top: 0;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

</style>
