<template>
    <b-navbar toggleable="md" type="dark" variant="info">
        <b-navbar-brand href="#">Менеджер событий</b-navbar-brand>
        <b-navbar-nav class="ml-auto">


            <b-nav-item-dropdown text="router links" right>
                <b-dropdown-item href="/">Login page</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item-dropdown right>
                <!-- Using button-content slot -->
                <template slot="button-content">
                    Здравствуйте
                    <em>{{welcomeName}}</em>
                </template>
                <b-dropdown-item @click="logOut">Выйти</b-dropdown-item>
            </b-nav-item-dropdown>
        </b-navbar-nav>
    </b-navbar>
</template>

<script>
    var data = {};

    export default {
        username: "headerl",
        computed: {
            welcomeName() {
                return this.$store.getters.getUsername;
            }
        },
        methods: {
            logOut() {
                // this.$store.commit('logout');
                this.$store.dispatch('disconnect').then(
                    (response) => {
                        this.$router.push('/');
                    }
                );
            }
        },
        data() {
            return data
        }
    }
</script>

<style scoped>
    .header {
        width: 100%;
        border-bottom: solid;
        border-color: grey;
        display: flex;
        flex-direction: row;
        height: 40px;
    }

    h1 {
        font-size: 20px;
        width: 400px;
        padding-right: 50%;
    }

    span {
        width: 200px;
    }

    button {
    }
</style>
