<template>
    <div class="mainContainer">
        <headerl></headerl>
        <div class="flex-container">
            <datepicker class="datepicker" placeholder="Выберете дату" v-model="chosenDate" :inline="true"
                        :highlighted="highlighted"
                        language="ru" :format="customFormatter"
                        :mondayFirst="true"></datepicker>

            <div class="flex-Vcontainer">
                <b-table small bordered striped hover :fields="fields" :items="tasksForChosenDate">
                    <template slot="bro" slot-scope="data">
                        <b-btn size="sm" v-if="hasAdminRole" @click="removeTask(tasksForChosenDate[data.index].id)">
                            удалить
                        </b-btn>
                        <b-btn size="sm" @click="delayTask(tasksForChosenDate[data.index].id)">Отложить на день</b-btn>
                        <b-btn size="sm" @click="setCompleted(tasksForChosenDate[data.index].id)">Инвертировать статус
                        </b-btn>
                        <b-btn size="sm" v-if="hasAdminRole" v-b-modal.modal1
                               @click="TemporallySaveSelectedTask(data.index)">
                            редактировать
                        </b-btn>
                    </template>

                </b-table>

                <b-btn v-if="hasAdminRole" v-b-modal.modal1 @click="tempTask.id=''">
                    Добавить событие
                </b-btn>
            </div>

        </div>


        <b-modal id="modal1" @ok="handleOk" size="lg" title="Редактор оповещения" ok-title="принять"
                 cancel-title="отмена">
            <div class="flex-Vcontainer">
                <div class="flex-container">
                    <div class="flex-Vcontainer">
                        <span>Заголовок</span>
                        <input v-model="tempTask.title" placeholder="Введи заголовок"/>
                    </div>
                    <div class="flex-Vcontainer">
                        <span>Описание</span>
                        <input v-model="tempTask.description" placeholder="Введи описание"/>
                    </div>
                    <div class="flex-Vcontainer">
                        <span>Дата оповещения</span>
                        <datepicker placeholder="Выберете дату" v-model="chosenDate"
                                    :highlighted="highlighted"
                                    language="ru" :format="customFormatter"
                                    :mondayFirst="true"></datepicker>
                    </div>
                </div>
                <div class="flex-Vcontainer">
                    <span>Пользователи</span>
                    <b-form-select multiple :select-size="4" v-model="selected" :options="options" class="mb-3">
                    </b-form-select>
                </div>
            </div>
        </b-modal>

        <b-modal id="modalAlert" title="Сегодняшние неполненные события" v-model="modalAlertShow" size="lg">
            <b-table small bordered striped hover :fields="fields" :items="todayUncompletedTasks">
                <template slot="bro" slot-scope="data">
                    <b-btn size="sm" @click="delayTask(todayUncompletedTasks[data.index].id)">Отложить на день</b-btn>
                    <b-btn size="sm" @click="setCompleted(todayUncompletedTasks[data.index].id)">Инвертировать статус
                    </b-btn>
                </template>

            </b-table>

        </b-modal>
        <div>

        </div>
    </div>
</template>

<script>
    import Axios from 'axios';
    import Datepicker from "vuejs-datepicker";
    import moment from "moment";
    import {mapGetters} from 'vuex';
    import Headerl from "./header.vue";
    import {mapActions} from 'vuex';
    import SockJS from "sockjs-client";
    import Stomp from "webstomp-client";

    const data = {
        tempTask: {
            title: '',
            description: '',
            alertDate: this.chosenDate,
            users: [],
            completed: false
        },
        modalAlertShow: false,
        indexOfSelectedTask: '',
        chosenDate: '',
        fields: [
            {
                key: 'title',
                label: 'Заголовок',
                sortable: true
            },
            {
                key: 'description',
                label: 'Описание',
                sortable: true
            },
            {
                key: 'alertDate',
                label: 'Дата оповещения'
            },
            {
                key: 'completed',
                label: 'Статус',
                sortable: true
            },
            {
                key: 'bro',
                label: 'действия над оповещением'
            }

        ],
        selected: []
    };


    export default {
        username: "list-tasks",
        mounted: function () {
            this.$store.dispatch('getAllTasks');
            this.$store.dispatch('getListOfUsers');
        },
        components: {
            Headerl,
            Datepicker
        },
        data: function () {
            return data
        },
        watch: {

            todayUncompletedTasks: {
                handler: function (newValue) {
                    if (!this.hasAdminRole && this.todayUncompletedTasks.length > 0) {
                        this.modalAlertShow = true;
                    }
                },
                deep: true
            }

        },
        methods: {

            TemporallySaveSelectedTask(index) {
                let task = this.tasksForChosenDate[index];
                this.tempTask.id = task.id;
                this.tempTask.title = task.title;
                this.tempTask.description = task.description;
                this.tempTask.alertDate = task.alertDate;
                this.tempTask.completed = task.completed;
                this.selected = this.getUserIds(task);
            },
            handleOk() {
                this.tempTask.users = this.calculateSelectedUsers;
                if (this.tempTask.id === '') {
                    this.tempTask.alertDate = this.formatSelectedDate(this.chosenDate);
                    this.tempTask.completed = false;
                    this.$store.dispatch('sendTask', this.tempTask);
                } else {
                    this.$store.dispatch('updateTask', this.tempTask);
                }
            },
            createTask() {
                this.tempTask.id = '';
                this.tempTask.alertDate = this.formatSelectedDate(this.chosenDate);
                this.$store.dispatch('sendTask', this.tempTask);
            },
            removeTask(id) {
                this.$store.dispatch('deleteTask', id)
                    .catch((error) => {
                        console.log(error);
                    })

            },
            customFormatter(date) {
                return moment(date).format().split('T')[0];
            },
            setCompleted(id) {
                Axios({
                    method: 'put',
                    // url: '/api/task/{id}/status',
                    url: '/api/task/' + id + '/status',
                    params: {
                        access_token: this.storedToken
                    }
                }).then(() => {
                }).catch((error) => {
                    if (error.response.data.error === 'invalid_token') {
                        this.$router.push('/');
                    }
                });
            },
            delayTask(id) {
                Axios({
                    method: 'put',
                    // url: '"/api/delayTask/{id}"',
                    url: '/api/delayTask/' + id,
                    params: {
                        access_token: this.storedToken
                    }
                }).then(() => {
                }).catch((error) => {
                    if (error.response.data.error === 'invalid_token') {
                        this.$router.push('/');
                    }
                });
            },
            formatSelectedDate: (dateToFormat) => {
                return moment(dateToFormat).format('YYYY-MM-DD');
            },
            getUserIds: function (task) {
                task.users.forEach(user => {
                    console.log(user.id + "----user.id")
                });
                let result = [];
                task.users.forEach(user => {
                    result.push(user.id)
                });
                return result
            },

           /* connect() {
                this.socket = new SockJS("http://localhost:7070/socket");
                // context.state.socket = new SockJS("/socket");
                // this.socket = new SockJS("/socket");
                store.state.reconect = true;
                this.socket.onclose = function (event) {
                    if (store.state.reconect) {
                        setTimeout(this.socket = new SockJS("/socket"), 1500);
                    }

                };

                this.stompClient = Stomp.over(this.socket);

                this.stompClient.connect(
                    {},
                    frame => {
                        this.$store.commit('setWebSocketStatus', true);
                        console.log(frame);
                        // подписка на /user/{username}/notify
                        this.stompClient.subscribe("/user/" + store.state.user.username + "/notify", tick => {
                            console.log(tick + " --Got Response from server");
                            store.dispatch('getTasksForSpecificUser');
                            tick.ack();
                        }, {'ack': 'client'});
                    },
                    error => {
                        console.log(error);
                        this.$store.commit('setWebSocketStatus', false);
                    }
                );


            }, disconnect() {
                if (this.stompClient) {
                    this.stompClient.disconnect();
                }
                this.$store.commit('setWebSocketStatus', false);
                this.$store.commit('logout');
            },

*/
        },
        computed: {
            ...mapGetters({
                hasAdminRole: 'hasAdminRole',
                getTodayTasks: 'getTodayTasks',
                getTasksForSpecificDate: 'getTasksForSpecificDate',
                storedToken: 'getStoredToken',
                getListOfUsers: 'getListOfUsers'
            }),
            tasksForChosenDate() {
                return this.getTasksForSpecificDate(this.compAlertDate)

            },
            compAlertDate: {
                get() {
                    let tempDate = this.formatSelectedDate(this.chosenDate);
                    return tempDate === 'Invalid date' ? 'Выбирете дату' : tempDate
                }
            },
            highlighted: {
                get() {
                    return {
                        dates: this.dates
                    }
                }
            },

            dates: function () {
                let result;
                let hue = this.$store.state.allTasks;

                /*todo всё что в комментариях не нужно просто пробовал разные решения
                * и выяснилось, что forEach, map, filter не работают в приватном режиме временами!!!*/

                /*
                                hue.forEach((task) => {
                                     result.push(new Date(task.alertDate))
                                });*/
                /*
                hue.forEach(function (task) {
                    result.push(new Date(task.alertDate));
                });*/
                /*
                                for (let i=0;i<hue.length;i++)  {
                                    result.push(new Date(hue[i].alertDate))
                                }*/
                result = hue.map(task => new Date(task.alertDate));
                return result;
            },
            calculateSelectedUsers: {
                get() {
                    let result = [];

                    this.selected.forEach((el, index) => {
                        result.push(
                            this.getListOfUsers.find((element) => {
                                return element.id === this.selected[index];
                            })
                        )
                    });
                    return result;
                }
            },
            options: {
                get() {
                    let options = [];
                    this.getListOfUsers.forEach((el, index) => {
                        options.push({
                            value: this.getListOfUsers[index].id,
                            text: this.getListOfUsers[index].username
                        })
                    });
                    return options;
                }
            },
            todayUncompletedTasks: function () {
                return this.getTodayTasks.filter(task => task.completed === false);
            },

        }

    }
</script>

<style scoped>

    .table {

        margin-left: 10px;
        border-radius: 10px;
        border: solid lightgray;
        width: 1000px;
    }

    .flex-container {
        align-self: center;
        display: flex;
    }

    .flex-Vcontainer {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
    }

    .datepicker {
    }

    .rightPanel > span {
        padding-left: 150px;
    }
</style>
