<template>
    <div class="login">
        <h1>Менеджер событий</h1>
        <b-form @submit="doLogin">

            <b-form-group id="InputGroup1"
                          label="Username:"
                          label-for="Input1">
                <b-form-input id="Input1"
                              v-model="username"
                              required
                              placeholder="Введите Логин">
                </b-form-input>
            </b-form-group>

            <b-form-group id="InputGroup2"
                          label="Password:"
                          label-for="Input2">

                <b-form-input id="Input2"
                              v-model="password"
                              required
                              type="password"
                              label="Password"
                              placeholder="Введите пароль">
                </b-form-input>
                <b-button type="submit" variant="primary">Отправить</b-button>
            </b-form-group>

        </b-form>
        <br>
        <p>{{error}}</p>
    </div>
</template>

<script>
    import Axios from 'axios';
    import {router} from "../main.js";
    import {store} from '../store/index.js'

    export default {
        data: () => ({
            username: 'admin',
            password: 'admin',
            error: '',
            response: [],

        }),
        // username: "login",
        created: () => {
            //todo нужно сделать проверку токена /oauth/token?check
            if (store.getters.isAuthorized) {
                Axios({
                    method: 'get',
                    url: '/api/getUserRoles',
                    params: {access_token: store.getters.getStoredToken}
                }).then(r => {
                    router.push('/listTasks')
                }).catch(error => {
                });

                // router.push('/listTasks');
            }

        },
        methods: {
            doLogin(evt) {
                evt.preventDefault();

                //URLSearchParams не работает в Microsoft edge не знаю где ещё, a в firefox , chrome всё отлично
                /*  let params = new URLSearchParams();
                  params.append('grant_type', 'password');
                  params.append('username', this.username);
                  params.append('password', this.password);*/
                let params = {
                    "grant_type": 'password',
                    "username": this.username,
                    "password": this.password
                };

                Axios({
                    method: 'post',
                    url: '/oauth/token',
                    auth: {username: 'my-trusted-client', password: 'secret'},
                    headers: {"Content-type": "application/x-www-form-urlencoded; charset=utf-8"},
                    params:params
                    //URLSearchParams не работает в Microsoft edge
                    // data: params
                }).then(r => {
                    const user = {
                        username: this.username,
                        token: r.data.access_token
                    };
                    this.$store.commit('setUser', user);

                    this.getUserRoles();

                    this.$router.push('/listTasks')
                }).catch
                (e => {
                    this.error = e.message
                });
            },

            getUserRoles() {
                Axios({
                    method: 'get',
                    url: '/api/getUserRoles',
                    params: {access_token: this.$store.state.user.token}
                }).then(response => {
                    this.$store.commit('setRoles', response.data)
                })
            }

        }
    };
</script>

<style scoped>
    .login {
        display: flex;
        padding: 10px;
        margin-bottom: 1em;
        width: 500px;
        align-self: center;
        flex-direction: column;
    }

    h1 {
        align-self: center;
    }
</style>
